In [218]:
import pandas as pd
import numpy as np
import collections

In [274]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

This project will be based on dataset of used cars from German eBay website.  I have a data from [Kaggle](https://www.kaggle.com/orgesleka/used-cars-database/data)

A brief description of the columns
- dateCrawled - When this ad was first crawled. All field-values are taken from this date.
- name - Name of the car.
- seller - Whether the seller is private or a dealer.
- offerType - The type of listing
- price - The price on the ad to sell the car.
- abtest - Whether the listing is included in an A/B test.
- vehicleType - The vehicle Type.
- yearOfRegistration - The year in which the car was first registered.
- gearbox - The transmission type.
- powerPS - The power of the car in PS.
- model - The car model name.
- kilometer - How many kilometers the car has driven.
- monthOfRegistration - The month in which the car was first registered.
- fuelType - What type of fuel the car uses.
- brand - The brand of the car.
- notRepairedDamage - If the car has a damage which is not yet repaired.
- dateCreated - The date on which the eBay listing was created.
- nrOfPictures - The number of pictures in the ad.
- postalCode - The postal code for the location of the vehicle.
- lastSeenOnline - When the crawler saw this ad last online.

In [417]:
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [418]:
autos.head()

           dateCrawled                            name  seller offerType  price abtest vehicleType  yearOfRegistration    gearbox  powerPS  model  kilometer  monthOfRegistration fuelType       brand notRepairedDamage          dateCreated  nrOfPictures  postalCode             lastSeen
0  2016-03-24 11:52:17                      Golf_3_1.6  privat   Angebot    480   test         NaN                1993    manuell        0   golf     150000                    0   benzin  volkswagen               NaN  2016-03-24 00:00:00             0       70435  2016-04-07 03:16:57
1  2016-03-24 10:58:45            A5_Sportback_2.7_Tdi  privat   Angebot  18300   test       coupe                2011    manuell      190    NaN     125000                    5   diesel        audi                ja  2016-03-24 00:00:00             0       66954  2016-04-07 01:46:50
2  2016-03-14 12:52:21  Jeep_Grand_Cherokee_"Overland"  privat   Angebot   9800   test         suv                2004  automatik      163  grand     125000                    8   diesel        jeep               NaN  2016-03-14 00:00:00             0       90480  2016-04-05 12:47:46
3  2016-03-17 16:54:04              GOLF_4_1_4__3TÜRER  privat   Angebot   1500   test  kleinwagen                2001    manuell       75   golf     150000                    6   benzin  volkswagen              nein  2016-03-17 00:00:00             0       91074  2016-03-17 17:40:17
4  2016-03-31 17:25:20  Skoda_Fabia_1.4_TDI_PD_Classic  privat   Angebot   3600   test  kleinwagen                2008    manuell       69  fabia      90000                    7   diesel       skoda              nein  2016-03-31 00:00:00             0       60437  2016-04-06 10:17:21

In [419]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
dateCrawled            371528 non-null object
name                   371528 non-null object
seller                 371528 non-null object
offerType              371528 non-null object
price                  371528 non-null int64
abtest                 371528 non-null object
vehicleType            333659 non-null object
yearOfRegistration     371528 non-null int64
gearbox                351319 non-null object
powerPS                371528 non-null int64
model                  351044 non-null object
kilometer              371528 non-null int64
monthOfRegistration    371528 non-null int64
fuelType               338142 non-null object
brand                  371528 non-null object
notRepairedDamage      299468 non-null object
dateCreated            371528 non-null object
nrOfPictures           371528 non-null int64
postalCode             371528 non-null int64
lastSeen               371528 non-null object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

There is 20 column with mostly non-null objects. Only the column 'notRepairedDamage' is missing a lot of data. Seven columns are int64, the rest is a string. The column use camelcase instead of snakecase. Below I will change naming convention.

In [420]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType', 'brand', 'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen'], dtype='object')

In [421]:
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'kilometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

In [422]:
autos.columns = new_columns

In [423]:
autos.head()

          date_crawled                            name  seller offer_type  price abtest vehicle_type  registration_year    gearbox  power_ps  model  kilometer  registration_month fuel_type       brand unrepaired_damage           ad_created  nr_of_pictures  postal_code            last_seen
0  2016-03-24 11:52:17                      Golf_3_1.6  privat    Angebot    480   test          NaN               1993    manuell         0   golf     150000                   0    benzin  volkswagen               NaN  2016-03-24 00:00:00               0        70435  2016-04-07 03:16:57
1  2016-03-24 10:58:45            A5_Sportback_2.7_Tdi  privat    Angebot  18300   test        coupe               2011    manuell       190    NaN     125000                   5    diesel        audi                ja  2016-03-24 00:00:00               0        66954  2016-04-07 01:46:50
2  2016-03-14 12:52:21  Jeep_Grand_Cherokee_"Overland"  privat    Angebot   9800   test          suv               2004  automatik       163  grand     125000                   8    diesel        jeep               NaN  2016-03-14 00:00:00               0        90480  2016-04-05 12:47:46
3  2016-03-17 16:54:04              GOLF_4_1_4__3TÜRER  privat    Angebot   1500   test   kleinwagen               2001    manuell        75   golf     150000                   6    benzin  volkswagen              nein  2016-03-17 00:00:00               0        91074  2016-03-17 17:40:17
4  2016-03-31 17:25:20  Skoda_Fabia_1.4_TDI_PD_Classic  privat    Angebot   3600   test   kleinwagen               2008    manuell        69  fabia      90000                   7    diesel       skoda              nein  2016-03-31 00:00:00               0        60437  2016-04-06 10:17:21

In [424]:
autos.describe(include='all')

               date_crawled         name  seller offer_type         price  abtest vehicle_type  registration_year  gearbox       power_ps   model      kilometer  registration_month fuel_type       brand unrepaired_damage           ad_created  nr_of_pictures   postal_code            last_seen
count                371528       371528  371528     371528  3.715280e+05  371528       333659      371528.000000   351319  371528.000000  351044  371528.000000       371528.000000    338142      371528            299468               371528        371528.0  371528.00000               371528
unique               280500       233531       2          2           NaN       2            8                NaN        2            NaN     251            NaN                 NaN         7          40                 2                  114             NaN           NaN               182806
top     2016-03-24 14:49:47  Ford_Fiesta  privat    Angebot           NaN    test    limousine                NaN  manuell            NaN    golf            NaN                 NaN    benzin  volkswagen              nein  2016-04-03 00:00:00             NaN           NaN  2016-04-06 13:45:54
freq                      7          657  371525     371516           NaN  192585        95894                NaN   274214            NaN   30070            NaN                 NaN    223857       79640            263182                14450             NaN           NaN                   17
mean                    NaN          NaN     NaN        NaN  1.729514e+04     NaN          NaN        2004.577997      NaN     115.549477     NaN  125618.688228            5.734445       NaN         NaN               NaN                  NaN             0.0   50820.66764                  NaN
std                     NaN          NaN     NaN        NaN  3.587954e+06     NaN          NaN          92.866598      NaN     192.139578     NaN   40112.337051            3.712412       NaN         NaN               NaN                  NaN             0.0   25799.08247                  NaN
min                     NaN          NaN     NaN        NaN  0.000000e+00     NaN          NaN        1000.000000      NaN       0.000000     NaN    5000.000000            0.000000       NaN         NaN               NaN                  NaN             0.0    1067.00000                  NaN
25%                     NaN          NaN     NaN        NaN  1.150000e+03     NaN          NaN        1999.000000      NaN      70.000000     NaN  125000.000000            3.000000       NaN         NaN               NaN                  NaN             0.0   30459.00000                  NaN
50%                     NaN          NaN     NaN        NaN  2.950000e+03     NaN          NaN        2003.000000      NaN     105.000000     NaN  150000.000000            6.000000       NaN         NaN               NaN                  NaN             0.0   49610.00000                  NaN
75%                     NaN          NaN     NaN        NaN  7.200000e+03     NaN          NaN        2008.000000      NaN     150.000000     NaN  150000.000000            9.000000       NaN         NaN               NaN                  NaN             0.0   71546.00000                  NaN
max                     NaN          NaN     NaN        NaN  2.147484e+09     NaN          NaN        9999.000000      NaN   20000.000000     NaN  150000.000000           12.000000       NaN         NaN               NaN                  NaN             0.0   99998.00000                  NaN

In [425]:
autos.seller.value_counts()

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [426]:
autos.offer_type.value_counts()

Angebot    371516
Gesuch         12
Name: offer_type, dtype: int64

In [427]:
autos.abtest.value_counts()

test       192585
control    178943
Name: abtest, dtype: int64

In [428]:
autos.nr_of_pictures.value_counts()

0    371528
Name: nr_of_pictures, dtype: int64

The four columns above, for which I checked the values, are not relevant for further analysis, so I will remove them.

In [429]:
autos = autos.drop(columns=['seller', 'offer_type', 'abtest', 'nr_of_pictures'])

In [430]:
autos.head()

          date_crawled                            name  price vehicle_type  registration_year    gearbox  power_ps  model  kilometer  registration_month fuel_type       brand unrepaired_damage           ad_created  postal_code            last_seen
0  2016-03-24 11:52:17                      Golf_3_1.6    480          NaN               1993    manuell         0   golf     150000                   0    benzin  volkswagen               NaN  2016-03-24 00:00:00        70435  2016-04-07 03:16:57
1  2016-03-24 10:58:45            A5_Sportback_2.7_Tdi  18300        coupe               2011    manuell       190    NaN     125000                   5    diesel        audi                ja  2016-03-24 00:00:00        66954  2016-04-07 01:46:50
2  2016-03-14 12:52:21  Jeep_Grand_Cherokee_"Overland"   9800          suv               2004  automatik       163  grand     125000                   8    diesel        jeep               NaN  2016-03-14 00:00:00        90480  2016-04-05 12:47:46
3  2016-03-17 16:54:04              GOLF_4_1_4__3TÜRER   1500   kleinwagen               2001    manuell        75   golf     150000                   6    benzin  volkswagen              nein  2016-03-17 00:00:00        91074  2016-03-17 17:40:17
4  2016-03-31 17:25:20  Skoda_Fabia_1.4_TDI_PD_Classic   3600   kleinwagen               2008    manuell        69  fabia      90000                   7    diesel       skoda              nein  2016-03-31 00:00:00        60437  2016-04-06 10:17:21

In the next steps I will check the quality and correctness of the data.

In [431]:
autos.price.value_counts().sort_index(ascending=False).head()

2147483647     1
99999999      15
99000000       1
74185296       1
32545461       1
Name: price, dtype: int64

In [432]:
autos[autos.price > 500000].sort_values(by='price')

               date_crawled                                               name       price vehicle_type  registration_year    gearbox  power_ps        model  kilometer  registration_month fuel_type           brand unrepaired_damage           ad_created  postal_code            last_seen
118058  2016-04-07 04:36:19                           Audi__A6_allroad_quattro      517895        kombi               2013  automatik       245       andere      40000                   1    diesel            audi              nein  2016-04-07 00:00:00        85092  2016-04-07 04:36:19
1846    2016-03-10 22:47:05  BMW_M1_Museumsfahrzeug_Neuwagenzustand_Glossy_...      579000        coupe               1980    manuell       277       andere      20000                  12    benzin             bmw              nein  2016-03-10 00:00:00        60435  2016-03-23 10:45:27
136495  2016-03-27 17:39:13               Mercedes_Benz_300_d_Cabriolet__W189_      585000       cabrio               1960    manuell       160       andere       5000                   7    benzin   mercedes_benz              nein  2016-03-27 00:00:00        50667  2016-04-05 13:17:43
365461  2016-03-31 18:53:48   BMW_M1_mit_4900_Km_Neuwagenzustand_Glossy_Orange      599000        coupe               1980    manuell       377       andere       5000                   3    benzin             bmw              nein  2016-03-31 00:00:00        60435  2016-04-06 11:44:48
161773  2016-03-12 16:39:54                                 Porsche_Carrera_GT      600000       cabrio               2005    manuell       612       andere      10000                   4    benzin         porsche              nein  2016-03-12 00:00:00        70569  2016-03-19 18:46:28
26327   2016-03-21 19:43:54                                      Porsche_911_R      600000        coupe               2016    manuell       500          911       5000                   3    benzin         porsche              nein  2016-03-21 00:00:00        76275  2016-03-21 19:43:54
137856  2016-03-19 01:36:24  Porsche_911R_Der_letzte_Samurai!_Sauger__Schal...      619000        coupe               2016    manuell       500          911       5000                   3    benzin         porsche              nein  2016-03-19 00:00:00        60435  2016-03-20 16:30:13
169098  2016-03-08 10:36:17                                        Ferrari_206      650000        coupe               1969    manuell       163          NaN      90000                   1    benzin  sonstige_autos              nein  2016-03-08 00:00:00        80796  2016-03-20 23:47:46
100851  2016-03-12 18:46:35                                       Porsche_911R      700000        coupe               2016        NaN         0          911       5000                   3       NaN         porsche              nein  2016-03-12 00:00:00        76275  2016-03-12 18:46:35
111647  2016-03-17 00:57:28                        Lamborghini_Miura_S_Project      725000        coupe               1971    manuell       625          NaN       5000                   4    benzin  sonstige_autos              nein  2016-03-16 00:00:00        70173  2016-03-17 00:57:28
344196  2016-03-05 17:25:25                 Porsche_911R__991R__weiss/rot_2016      745000        coupe               2016    manuell       500          911       5000                   3    benzin         porsche              nein  2016-03-05 00:00:00        60323  2016-03-12 18:45:25
118143  2016-03-20 12:30:26            Porsche_911_R__500PS__6_Gang__limitiert      745000        coupe               2016    manuell       500          911       5000                   3    benzin         porsche              nein  2016-03-20 00:00:00        60323  2016-03-21 17:30:34
163190  2016-03-27 18:53:03                                    Ferrari_F12_TDF      780000        coupe               2016  automatik       780          NaN       5000                   3    benzin  sonstige_autos              nein  2016-03-27 00:00:00        10707  2016-03-29 09:16:37
78265   2016-03-31 19:55:47  McLaren_675LT_Spider/Delivery_on1._May/Vat_is_...      820000       cabrio               2016        NaN       674          NaN       5000                   3    benzin  sonstige_autos              nein  2016-03-31 00:00:00        72762  2016-04-06 14:18:09
194217  2016-04-03 15:52:51  Volkswagen_Golf_Variant_1.8_Comfortline__Mit_K...      849000        kombi               1998    manuell        75         golf     150000                   1    benzin      volkswagen              nein  2016-04-03 00:00:00        28197  2016-04-03 15:52:51
85047   2016-03-28 12:45:00                                        Porsche_911      911911       cabrio               1967    manuell       160          911       5000                  12    benzin         porsche              nein  2016-03-28 00:00:00        44575  2016-03-28 12:45:00
359083  2016-03-29 11:38:54                                Volkswagen_Jetta_GT      999990    limousine               1985    manuell       111        jetta     150000                  12    benzin      volkswagen                ja  2016-03-29 00:00:00        50997  2016-03-29 11:38:54
118233  2016-03-09 21:56:45  Liebhaber_sucht_Grand_Cherokee_5.9_LX__sofort_...      999999          suv               1998  automatik       241        grand     150000                   1    benzin            jeep              nein  2016-03-09 00:00:00        76829  2016-04-06 00:16:46
159974  2016-04-01 16:36:57                                        Manta_b_gsi      999999          NaN               1980        NaN       115       andere      50000                   0       NaN            opel               NaN  2016-04-01 00:00:00        66706  2016-04-01 16:36:57
155418  2016-03-27 20:52:14                                   BMW_///_Bodensee      999999          NaN               1111        NaN         0          NaN       5000                   0       NaN             bmw               NaN  2016-03-27 00:00:00        88677  2016-04-05 20:17:31
141004  2016-04-02 13:47:00                                  Kaufen_jeder_auto      999999    limousine               2000        NaN       100          NaN     150000                   5    diesel             bmw               NaN  2016-04-02 00:00:00        10439  2016-04-02 13:47:00
131785  2016-04-03 18:58:58                              Suche_Autos_aller_Art      999999          NaN               2000        NaN         0          NaN     100000                   0       NaN  sonstige_autos               NaN  2016-04-03 00:00:00        21075  2016-04-05 19:44:30
169656  2016-03-21 20:45:24                                   BMW_///_Bodensee      999999          NaN               9999        NaN         0          NaN      10000                   0       NaN             bmw               NaN  2016-03-21 00:00:00        88677  2016-03-27 06:15:40
69726   2016-03-17 15:58:57                                       Oldtimer_Lkw      999999       andere               1960    manuell      9999          NaN     150000                   0       NaN   mercedes_benz               NaN  2016-03-17 00:00:00        27616  2016-03-19 16:16:52
174617  2016-03-14 21:40:52                                    BMW_523I_TAUSCH      999999        kombi               1997    manuell       174          5er     150000                  11       NaN             bmw              nein  2016-03-14 00:00:00        26607  2016-03-17 11:48:04
301198  2016-04-04 09:36:42                 4_Wochen_und_kein_Ergebnis!_Hilfe!      999999          NaN               2015        NaN         0          NaN       5000                   2       NaN  sonstige_autos               NaN  2016-04-04 00:00:00        30938  2016-04-06 10:16:37
312909  2016-03-17 09:53:08                   Ford_Focus_Turnier_1.6_16V_Style      999999        kombi               2009    manuell       101        focus     125000                   4    benzin            ford              nein  2016-03-17 00:00:00        12205  2016-04-06 07:17:35
38445   2016-03-21 19:53:52                                      2_VW_Busse_T3      999999          bus               1981    manuell        70  transporter     150000                   1    benzin      volkswagen               NaN  2016-03-21 00:00:00        99880  2016-03-28 17:18:28
332531  2016-03-20 02:36:23  SUCHE_Chevrolet_oder_Gmc_pick_up_vor/bis_bj86_...      999999          NaN               1985        NaN         0          NaN     150000                   0    diesel       chevrolet               NaN  2016-03-20 00:00:00         7973  2016-04-02 06:46:54
169436  2016-04-01 12:56:01                                  KAUFEN_JEDEN_AUTO      999999          NaN               2000        NaN         0           a5     100000                   2       NaN            audi               NaN  2016-04-01 00:00:00        10439  2016-04-01 12:56:01
53507   2016-03-11 18:57:57         Suzuki_SJ_Samurai_413_Van__Kein_Lada_Niva_     1000000          suv               1992    manuell        69       andere     100000                   0    benzin          suzuki              nein  2016-03-11 00:00:00        45711  2016-04-05 21:17:47
45833   2016-03-15 10:53:11                            Porsche_911_Turbo__930_     1000000        coupe               1981    manuell       300          911     150000                   1    benzin         porsche              nein  2016-03-15 00:00:00        10969  2016-03-22 09:18:05
306469  2016-03-17 12:06:35                        Vw_Polo_86c_Schrott_Karosse     1000000        coupe               1985    manuell        75         polo     150000                   0    benzin      volkswagen                ja  2016-03-17 00:00:00        56410  2016-03-18 18:32:52
312109  2016-04-05 11:50:18                A3_zu_verkaufen_fuer_1.000.000_Euro     1000000          NaN               2000        NaN         0           a3     150000                   0       NaN            audi               NaN  2016-04-05 00:00:00        49635  2016-04-05 11:50:18
16889   2016-03-15 16:45:45                   Ford_Mondeo_Kombi_TÜV_abgelaufen     1000000        kombi               1998        NaN         0       mondeo     150000                   0    benzin            ford                ja  2016-03-15 00:00:00        26607  2016-03-15 16:45:45
173279  2016-03-07 21:36:25                                        12345678911     1010010          NaN               2017    manuell       101       zafira     150000                   9    diesel            opel              nein  2016-03-07 00:00:00        71254  2016-03-08 14:20:12
57594   2016-03-25 09:56:28                                      Astra_f_teile     1111111          NaN               1995    manuell        71        astra     150000                   5    benzin            opel               NaN  2016-03-25 00:00:00        67700  2016-04-06 09:46:21
106651  2016-03-11 22:54:08                      SUCHE_PKW_MIT_TÜV_MIN2_MONATE     1111111          NaN               2000        NaN         0          NaN     150000                   0       NaN  sonstige_autos              nein  2016-03-11 00:00:00        29640  2016-03-18 00:45:13
167750  2016-03-22 12:54:19                         Bmw_530d_zum_ausschlachten     1234566        kombi               1999  automatik       190          NaN     150000                   2    diesel             bmw               NaN  2016-03-22 00:00:00        17454  2016-04-02 03:17:32
20143   2016-03-18 00:55:53                         Porsche_911R_Einer_von_911     1250000        coupe               2016    manuell       500          911       5000                   3    benzin         porsche              nein  2016-03-17 00:00:00        70435  2016-03-20 04:48:27
78480   2016-03-10 20:43:12                                      Porsche_991_R     1250000        coupe               2016    manuell       500          911       5000                   3    benzin         porsche              nein  2016-03-10 00:00:00        10719  2016-03-15 15:19:48
316200  2016-04-04 11:53:31                                        Ferrari_F40     1300000        coupe               1992        NaN         0          NaN      50000                  12       NaN  sonstige_autos              nein  2016-04-04 00:00:00        60598  2016-04-05 11:34:11
367041  2016-03-24 19:00:03                                      Maserati_MC12     1600000        coupe               2005        NaN       625          NaN      10000                   4    benzin  sonstige_autos              nein  2016-03-24 00:00:00        70569  2016-03-24 19:41:13
333699  2016-03-12 03:36:18                                      Maserati_MC12     1600000        coupe               2005        NaN         0          NaN      10000                   4       NaN  sonstige_autos              nein  2016-03-12 00:00:00        70569  2016-03-21 04:44:24
45055   2016-04-02 00:06:21  Ferrari_LaFerrari_Deutsche_Auslieferung._A_Cel...     2795000        coupe               2016        NaN       963          NaN       5000                   3       NaN  sonstige_autos              nein  2016-04-01 00:00:00        60435  2016-04-03 14:32:00
41980   2016-03-11 09:37:17                                      Maserati_MC12     2995000        coupe               2005        NaN       630          NaN       5000                   7    benzin  sonstige_autos              nein  2016-03-11 00:00:00        74232  2016-04-06 21:47:44
364171  2016-04-04 21:25:21                                        Ferrari_FXX     3890000        coupe               2006        NaN       799          NaN       5000                   7       NaN  sonstige_autos              nein  2016-04-04 00:00:00        60313  2016-04-05 12:07:37
366861  2016-03-21 10:53:06         Ferrari_FXX__unfallfrei__perfekter_Zustand     3895000        coupe               2006        NaN       799          NaN       5000                   4    benzin  sonstige_autos              nein  2016-03-21 00:00:00        60323  2016-03-22 10:36:39
347435  2016-03-30 15:50:46         Schlachte_Golf_4_1.4_16_fast_alles_noch_da     9999999          NaN               2000    manuell        75         golf     150000                   0    benzin      volkswagen                ja  2016-03-30 00:00:00        39576  2016-04-07 06:44:45
21467   2016-03-19 19:45:02  Porsche_911_911R_1_of_20_ORIGINAL_R_nur_798KG!...     9999999        coupe               1967    manuell       215          911      50000                  10    benzin         porsche              nein  2016-03-19 00:00:00        70435  2016-04-01 10:45:30
91106   2016-03-30 19:46:05  Verkaufe_oder_tausche_wenn_nur_gegen_Kombi_s4_...     9999999    limousine               1996    manuell       380           a4      60000                   5    benzin            audi              nein  2016-03-30 00:00:00        47800  2016-03-30 19:46:05
196306  2016-04-01 01:59:20                                Suche_Motorcross_.!    10000000          NaN               2017    manuell         0         golf       5000                   0    benzin      volkswagen               NaN  2016-04-01 00:00:00         1454  2016-04-07 05:15:54
54295   2016-03-08 11:51:40                       Mazda_5_2.0_CD_DPF_Exclusive    10000000          bus               2007    manuell       143      5_reihe     150000                   2    diesel           mazda              nein  2016-03-08 00:00:00        83301  2016-03-10 14:17:16
281833  2016-03-19 08:50:50              Coole_Autowerkstatt_in_Esens_gesucht!    10000000          NaN               2019    manuell        10          NaN       5000                   0       NaN  sonstige_autos                ja  2016-03-19 00:00:00        26487  2016-04-06 07:44:29
358868  2016-03-16 16:49:53                     Tausche_BMW_E46_Touring_Diesel    10000000        kombi               2002    manuell         0          NaN     150000                   7    diesel             bmw              nein  2016-03-16 00:00:00        25821  2016-03-17 15:15:40
176070  2016-04-02 14:43:10                                      Suche_BMW_Fun    10000000          NaN               1985  automatik       300          NaN     150000                   0       NaN             bmw               NaN  2016-04-02 00:00:00        67480  2016-04-02 14:43:10
121793  2016-03-05 20:59:54                       Alter_VW_Kaefer_Scheunenfund    10000000          NaN               1910        NaN         0       kaefer     100000                   0       NaN      volkswagen               NaN  2016-03-05 00:00:00        94436  2016-03-05 21:47:23
363434  2016-03-23 06:36:20                     Vw_Passat_35i_1.8_schlachtfest    10000000        kombi               1996    manuell        90          NaN     150000                   0    benzin      volkswagen                ja  2016-03-23 00:00:00        36251  2016-03-26 01:16:15
171824  2016-03-29 23:52:57  suche_maserati_3200_gt_Zustand_unwichtig_laufe...    10000000        coupe               1960    manuell       368          NaN     100000                   1    benzin  sonstige_autos              nein  2016-03-29 00:00:00        73033  2016-04-06 21:18:11
361451  2016-04-03 14:36:47                                  Hilfe_Hilfe_Hilfe    10010011          NaN               2000        NaN         0          NaN     150000                   0       NaN  sonstige_autos               NaN  2016-04-03 00:00:00        44532  2016-04-05 13:18:04
177744  2016-03-31 16:37:00                     Suche_Trabant_auf_Ratenzahlung    11111111          NaN               1960        NaN         0          NaN     150000                   0       NaN         trabant               NaN  2016-03-31 00:00:00         6449  2016-04-06 10:46:11
318143  2016-03-21 13:57:51                            Schlachte_Golf_3_gt_tdi    11111111          NaN               1995        NaN         0          NaN     150000                   0       NaN      volkswagen               NaN  2016-03-21 00:00:00        18519  2016-03-21 14:40:18
185227  2016-03-14 16:52:51                               Suche_fuer_mein_golf    11111111          NaN               2000        NaN         0          NaN       5000                   0       NaN      volkswagen               NaN  2016-03-14 00:00:00        19288  2016-04-05 23:16:23
54507   2016-03-09 11:40:15                   Tausch_DKW_F8_gegen_Lanz_Bulldog    11111111       andere               1953    manuell        20          NaN     150000                   5       NaN            audi              nein  2016-03-09 00:00:00         7774  2016-04-05 14:46:32
332028  2016-03-31 18:39:53                     Golf_3_Gti_"16v_Turbo_vr6_bbs"    11111111          NaN               1995        NaN       116         golf     150000                   6    benzin      volkswagen               NaN  2016-03-31 00:00:00        72127  2016-04-02 13:47:59
210657  2016-03-12 21:50:57   Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000    11111111    limousine               1973    manuell        48       escort      50000                   3    benzin            ford              nein  2016-03-12 00:00:00        94469  2016-03-12 22:45:27
14663   2016-04-03 06:03:56                         Tausch_moeglich_Polo_vw_n9    11111111        coupe               2003    manuell        64         polo     150000                   2    benzin      volkswagen               NaN  2016-04-03 00:00:00        46535  2016-04-07 10:16:51
127769  2016-03-28 12:51:51                   Golf_4_laesst_sich_nicht_oeffnen    11111111    limousine               2003    manuell        75         golf     125000                   9    benzin      volkswagen               NaN  2016-03-28 00:00:00        38122  2016-03-30 03:18:00

I'm removing all the data above 500000.

In [433]:
autos = autos[(autos.price < 500000)]

In [434]:
autos.shape

(371426, 16)

In [435]:
autos.kilometer.value_counts().sort_values()

10000       1945
20000       5673
30000       6040
40000       6374
5000        7042
50000       7611
60000       8668
70000       9773
80000      11052
90000      12522
100000     15915
125000     38063
150000    240748
Name: kilometer, dtype: int64

### Analyzing datetime columns

In [436]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-24 11:52:17  2016-03-24 00:00:00  2016-04-07 03:16:57
1  2016-03-24 10:58:45  2016-03-24 00:00:00  2016-04-07 01:46:50
2  2016-03-14 12:52:21  2016-03-14 00:00:00  2016-04-05 12:47:46
3  2016-03-17 16:54:04  2016-03-17 00:00:00  2016-03-17 17:40:17
4  2016-03-31 17:25:20  2016-03-31 00:00:00  2016-04-06 10:17:21

In [437]:
autos[['date_crawled','ad_created','last_seen']][0:5].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 3 columns):
date_crawled    5 non-null object
ad_created      5 non-null object
last_seen       5 non-null object
dtypes: object(3)
memory usage: 160.0+ bytes

This is a datetime format but in string.

In [438]:
autos.date_crawled = pd.to_datetime(autos.date_crawled)
autos.ad_created = pd.to_datetime(autos.ad_created)
autos.last_seen = pd.to_datetime(autos.last_seen)

In [439]:
autos[['date_crawled','ad_created','last_seen']][0:5]

         date_crawled ad_created           last_seen
0 2016-03-24 11:52:17 2016-03-24 2016-04-07 03:16:57
1 2016-03-24 10:58:45 2016-03-24 2016-04-07 01:46:50
2 2016-03-14 12:52:21 2016-03-14 2016-04-05 12:47:46
3 2016-03-17 16:54:04 2016-03-17 2016-03-17 17:40:17
4 2016-03-31 17:25:20 2016-03-31 2016-04-06 10:17:21

In [440]:
autos[['date_crawled','ad_created','last_seen']][0:5].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 3 columns):
date_crawled    5 non-null datetime64[ns]
ad_created      5 non-null datetime64[ns]
last_seen       5 non-null datetime64[ns]
dtypes: datetime64[ns](3)
memory usage: 160.0 bytes

In [441]:
autos.registration_year.describe()

count    371426.000000
mean       2004.561022
std          91.936113
min        1000.000000
25%        1999.000000
50%        2003.000000
75%        2008.000000
max        9999.000000
Name: registration_year, dtype: float64

As seen above, the data is incorrect, because there was no cars in 1000 year and the future data is also wrong,so I will remove wrong data.

I also see that this data is still incorrect because it it impossible to get the data in 2016 with the year of car registration 2019. This is an issue that should be solved according to the purpose.

In [442]:
autos = autos[autos.registration_year.between(1900, 2019)]

In [444]:
autos.registration_year.value_counts().head()

2000    24540
1999    22764
2005    22312
2006    20226
2001    20215
Name: registration_year, dtype: int64

In [445]:
autos.registration_year.value_counts(normalize=True).head()

2000    0.066102
1999    0.061318
2005    0.060100
2006    0.054481
2001    0.054452
Name: registration_year, dtype: float64

The setting 'normalize = True' allows me to check the distribution - what is the most common yesr of registration. It is 2000 the next most frequent values are 1999, 2005, 2006, 2001.

### Exploring the Brand column

In [446]:
autos.brand.describe()

count         371246
unique            40
top       volkswagen
freq           79581
Name: brand, dtype: object

In [447]:
autos.brand.value_counts()

volkswagen        79581
bmw               40247
opel              40113
mercedes_benz     35290
audi              32860
ford              25563
renault           17965
peugeot           11025
fiat               9668
seat               7020
mazda              5688
skoda              5639
smart              5249
citroen            5178
nissan             5037
toyota             4694
sonstige_autos     3923
hyundai            3645
mini               3393
volvo              3326
mitsubishi         3058
honda              2836
kia                2555
alfa_romeo         2342
suzuki             2327
porsche            2200
chevrolet          1841
chrysler           1451
dacia               900
daihatsu            806
jeep                805
subaru              776
land_rover          769
jaguar              621
trabant             586
daewoo              542
saab                529
rover               489
lancia              484
lada                225
Name: brand, dtype: int64

In [449]:
autos.brand.value_counts(normalize=True).head()

volkswagen       0.214362
bmw              0.108411
opel             0.108050
mercedes_benz    0.095058
audi             0.088513
Name: brand, dtype: float64

### Analyzing prices

I want to find mean price for the most common brand

In [450]:
brand_counts = autos.brand.value_counts(normalize=True)
common_brands = brand_counts[brand_counts > 0.01].index
common_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault', 'peugeot', 'fiat', 'seat', 'mazda', 'skoda', 'smart', 'citroen', 'nissan', 'toyota', 'sonstige_autos'], dtype='object')

In [451]:
brand_mean_price = {}
for brand in common_brands:
    brand_only = autos[autos.brand == brand]
    mean_price = brand_only.price.mean()
    brand_mean_price[brand] = mean_price

In [452]:
brand_mean_price

{'volkswagen': 5148.798921853207,
 'bmw': 8141.082739086143,
 'opel': 2838.120484630918,
 'mercedes_benz': 8308.688240294701,
 'audi': 8723.979214850882,
 'ford': 3557.5554121190785,
 'renault': 2334.430782076259,
 'peugeot': 3167.542494331066,
 'fiat': 2774.772134877948,
 'seat': 4354.239173789174,
 'mazda': 3925.34405766526,
 'skoda': 6413.3686823904945,
 'smart': 3531.5620118117736,
 'citroen': 3609.2827346465815,
 'nissan': 4527.5108199324995,
 'toyota': 5232.657008947593,
 'sonstige_autos': 12514.42161611012}

In [453]:
sorted_brand_mean_price = sorted(brand_mean_price.items(), key=lambda kv: kv[1],reverse=True)
sorted_brand_mean_price

[('sonstige_autos', 12514.42161611012),
 ('audi', 8723.979214850882),
 ('mercedes_benz', 8308.688240294701),
 ('bmw', 8141.082739086143),
 ('skoda', 6413.3686823904945),
 ('toyota', 5232.657008947593),
 ('volkswagen', 5148.798921853207),
 ('nissan', 4527.5108199324995),
 ('seat', 4354.239173789174),
 ('mazda', 3925.34405766526),
 ('citroen', 3609.2827346465815),
 ('ford', 3557.5554121190785),
 ('smart', 3531.5620118117736),
 ('peugeot', 3167.542494331066),
 ('opel', 2838.120484630918),
 ('fiat', 2774.772134877948),
 ('renault', 2334.430782076259)]

'sonstige_autos' is a group of different types of cars, this group covers about 1 percent. The mean is quite high so it means in this group are rare and expensive car. On the next positions I see in order Audi, Mercedes and BMW that prices are quite close to each other. Then after some gap price I see Skoda.

### Analyzing kilometers

In [454]:
brand_mean_kilometers = {}

for brand in common_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_kilometers = brand_only["kilometer"].mean()
    brand_mean_kilometers[brand] = int(mean_kilometers)

mean_kilometers = pd.Series(brand_mean_kilometers).sort_values(ascending=False)
mean_prices = pd.Series(brand_mean_price).sort_values(ascending=False)

In [455]:
brand_info = pd.DataFrame(mean_kilometers,columns=['mean_kilometers'])
brand_info

                mean_kilometers
bmw                      132818
mercedes_benz            130712
audi                     129739
opel                     128965
volkswagen               128629
renault                  128076
mazda                    126107
peugeot                  124991
ford                     123862
seat                     121506
citroen                  120593
nissan                   119789
toyota                   117341
fiat                     116907
skoda                    113876
smart                    100617
sonstige_autos            87449

The average mileage for brands are above. BMW is on the first place and Smart on the last but between the majority this difference are not so significant. Smart stands out probably because this is a city car.

In [456]:
brand_info["mean_price"] = mean_prices
brand_info

                mean_kilometers    mean_price
bmw                      132818   8141.082739
mercedes_benz            130712   8308.688240
audi                     129739   8723.979215
opel                     128965   2838.120485
volkswagen               128629   5148.798922
renault                  128076   2334.430782
mazda                    126107   3925.344058
peugeot                  124991   3167.542494
ford                     123862   3557.555412
seat                     121506   4354.239174
citroen                  120593   3609.282735
nissan                   119789   4527.510820
toyota                   117341   5232.657009
fiat                     116907   2774.772135
skoda                    113876   6413.368682
smart                    100617   3531.562012
sonstige_autos            87449  12514.421616

### Translating german word into english

I need to find out what are the words to change, below I will create a dictionary so I can map the words.

In [457]:
autos.head(15)

          date_crawled                                               name  price vehicle_type  registration_year    gearbox  power_ps    model  kilometer  registration_month fuel_type       brand unrepaired_damage ad_created  postal_code           last_seen
0  2016-03-24 11:52:17                                         Golf_3_1.6    480          NaN               1993    manuell         0     golf     150000                   0    benzin  volkswagen               NaN 2016-03-24        70435 2016-04-07 03:16:57
1  2016-03-24 10:58:45                               A5_Sportback_2.7_Tdi  18300        coupe               2011    manuell       190      NaN     125000                   5    diesel        audi                ja 2016-03-24        66954 2016-04-07 01:46:50
2  2016-03-14 12:52:21                     Jeep_Grand_Cherokee_"Overland"   9800          suv               2004  automatik       163    grand     125000                   8    diesel        jeep               NaN 2016-03-14        90480 2016-04-05 12:47:46
3  2016-03-17 16:54:04                                 GOLF_4_1_4__3TÜRER   1500   kleinwagen               2001    manuell        75     golf     150000                   6    benzin  volkswagen              nein 2016-03-17        91074 2016-03-17 17:40:17
4  2016-03-31 17:25:20                     Skoda_Fabia_1.4_TDI_PD_Classic   3600   kleinwagen               2008    manuell        69    fabia      90000                   7    diesel       skoda              nein 2016-03-31        60437 2016-04-06 10:17:21
5  2016-04-04 17:36:23  BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...    650    limousine               1995    manuell       102      3er     150000                  10    benzin         bmw                ja 2016-04-04        33775 2016-04-06 19:17:07
6  2016-04-01 20:48:51                        Peugeot_206_CC_110_Platinum   2200       cabrio               2004    manuell       109  2_reihe     150000                   8    benzin     peugeot              nein 2016-04-01        67112 2016-04-05 18:18:39
7  2016-03-21 18:54:38                       VW_Derby_Bj_80__Scheunenfund      0    limousine               1980    manuell        50   andere      40000                   7    benzin  volkswagen              nein 2016-03-21        19348 2016-03-25 16:47:58
8  2016-04-04 23:42:13               Ford_C___Max_Titanium_1_0_L_EcoBoost  14500          bus               2014    manuell       125    c_max      30000                   8    benzin        ford               NaN 2016-04-04        94505 2016-04-04 23:42:13
9  2016-03-17 10:53:50  VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...    999   kleinwagen               1998    manuell       101     golf     150000                   0       NaN  volkswagen               NaN 2016-03-17        27472 2016-03-31 17:17:06
10 2016-03-26 19:54:18                                  Mazda_3_1.6_Sport   2000    limousine               2004    manuell       105  3_reihe     150000                  12    benzin       mazda              nein 2016-03-26        96224 2016-04-06 10:45:34
11 2016-04-07 10:06:22      Volkswagen_Passat_Variant_2.0_TDI_Comfortline   2799        kombi               2005    manuell       140   passat     150000                  12    diesel  volkswagen                ja 2016-04-07        57290 2016-04-07 10:25:17
12 2016-03-15 22:49:09                  VW_Passat_Facelift_35i__"7Sitzer"    999        kombi               1995    manuell       115   passat     150000                  11    benzin  volkswagen               NaN 2016-03-15        37269 2016-04-01 13:16:16
13 2016-03-21 21:37:40                     VW_PASSAT_1.9_TDI_131_PS_LEDER   2500        kombi               2004    manuell       131   passat     150000                   2       NaN  volkswagen              nein 2016-03-21        90762 2016-03-23 02:50:54
14 2016-03-21 12:57:01  Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...  17999          suv               2011    manuell       190   navara      70000                   3    diesel      nissan              nein 2016-03-21         4177 2016-04-06 07:45:42

In [458]:
translate = {'kleinwagen':'hatchback',
             'automatik':'automatic',
             'manuell':'manually',
             'benzin':'petrol',
             'c_klasse':'c_class',
             'e_klasse':'e_class',
             'nein':'no',
             'ja':'yes'
            }

In [459]:
col_to_translate = ['vehicle_type', 'gearbox', 'fuel_type', 'unrepaired_damage', 'model']

for col in col_to_translate:
    autos[col] = autos[col].replace(translate)

In [460]:
autos.head(5)

         date_crawled                            name  price vehicle_type  registration_year    gearbox  power_ps  model  kilometer  registration_month fuel_type       brand unrepaired_damage ad_created  postal_code           last_seen
0 2016-03-24 11:52:17                      Golf_3_1.6    480          NaN               1993   manually         0   golf     150000                   0    petrol  volkswagen               NaN 2016-03-24        70435 2016-04-07 03:16:57
1 2016-03-24 10:58:45            A5_Sportback_2.7_Tdi  18300        coupe               2011   manually       190    NaN     125000                   5    diesel        audi               yes 2016-03-24        66954 2016-04-07 01:46:50
2 2016-03-14 12:52:21  Jeep_Grand_Cherokee_"Overland"   9800          suv               2004  automatic       163  grand     125000                   8    diesel        jeep               NaN 2016-03-14        90480 2016-04-05 12:47:46
3 2016-03-17 16:54:04              GOLF_4_1_4__3TÜRER   1500    hatchback               2001   manually        75   golf     150000                   6    petrol  volkswagen                no 2016-03-17        91074 2016-03-17 17:40:17
4 2016-03-31 17:25:20  Skoda_Fabia_1.4_TDI_PD_Classic   3600    hatchback               2008   manually        69  fabia      90000                   7    diesel       skoda                no 2016-03-31        60437 2016-04-06 10:17:21

In [461]:
autos.head(2)

         date_crawled                  name  price vehicle_type  registration_year   gearbox  power_ps model  kilometer  registration_month fuel_type       brand unrepaired_damage ad_created  postal_code           last_seen
0 2016-03-24 11:52:17            Golf_3_1.6    480          NaN               1993  manually         0  golf     150000                   0    petrol  volkswagen               NaN 2016-03-24        70435 2016-04-07 03:16:57
1 2016-03-24 10:58:45  A5_Sportback_2.7_Tdi  18300        coupe               2011  manually       190   NaN     125000                   5    diesel        audi               yes 2016-03-24        66954 2016-04-07 01:46:50

### Searching for the most common brand - model  combination

In [462]:
autos_grouped_m = autos.groupby(['brand','model'])['model'].count()

In [463]:
autos_grouped_m.max()

30047

In [464]:
autos_grouped_m.sort_values(ascending=False).head(10)

brand          model
volkswagen     golf       30047
bmw            3er        20560
volkswagen     polo       13085
opel           corsa      12567
               astra      10828
volkswagen     passat     10303
audi           a4         10255
mercedes_benz  c_class     8775
bmw            5er         8542
mercedes_benz  e_class     7560
Name: model, dtype: int64

Thanks to grouping I could find that the most frequent cars that are selling on the german ebay are:
- volkswagen     golf        
- bmw            3er         
- volkswagen     polo        
- opel           corsa       
- opel           astra       
- volkswagen     passat      
- audi           a4          
- mercedes_benz  c_class    
- bmw            5er          
- mercedes_benz  e_class

In [465]:
autos_grouped_km = autos.groupby(['kilometer']).count()

In [466]:
autos_grouped_km.name.sort_values(ascending=False)

kilometer
150000    240744
125000     38062
100000     15914
90000      12522
80000      11052
70000       9773
60000       8668
50000       7611
5000        6932
40000       6374
30000       6040
20000       5673
10000       1881
Name: name, dtype: int64

This data shows that the more kilometers a car has travelled, the more offers I can find on the list.

### Checking connection between price and kilometers

Putting the price into the bins

In [282]:
bins = range(0,1000000,10000)

In [283]:
bins

range(0, 1000000, 10000)

In [468]:
autos_price_bins = pd.cut(autos.price, bins)

In [470]:
autos['price_bins'] = autos_price_bins

In [471]:
autos_grouped_km_p = autos.groupby(['kilometer', 'price_bins']).count()

In [472]:
autos_grouped_km_p.name.sort_values(ascending=False).head(30)

kilometer  price_bins
150000     (0, 10000]        215475.0
125000     (0, 10000]         30321.0
150000     (10000, 20000]     15064.0
100000     (0, 10000]         11485.0
90000      (0, 10000]          8612.0
80000      (0, 10000]          7185.0
70000      (0, 10000]          5785.0
125000     (10000, 20000]      5440.0
60000      (0, 10000]          4786.0
5000       (0, 10000]          4749.0
50000      (0, 10000]          3740.0
100000     (10000, 20000]      2960.0
90000      (10000, 20000]      2782.0
40000      (0, 10000]          2771.0
80000      (10000, 20000]      2715.0
70000      (10000, 20000]      2709.0
60000      (10000, 20000]      2583.0
30000      (0, 10000]          2493.0
50000      (10000, 20000]      2414.0
20000      (0, 10000]          2278.0
40000      (10000, 20000]      2085.0
150000     (20000, 30000]      1976.0
30000      (10000, 20000]      1839.0
20000      (10000, 20000]      1559.0
125000     (20000, 30000]      1205.0
30000      (20000, 30000]       986.0
40000      (20000, 30000]       942.0
20000      (20000, 30000]       938.0
50000      (20000, 30000]       922.0
60000      (20000, 30000]       834.0
Name: name, dtype: float64

This data shows that the most frequent is car with more than 150000 km and cheaper than 10000. The most cars with mileage less than 6000 has a higher price.

### Checking connection between price, kilometers and unrepaired damage

In [473]:
autos_grouped_d = autos.groupby(['kilometer', 'unrepaired_damage', 'price_bins'])['price_bins'].count()

In [474]:
autos_grouped_d.sort_index(level=0, ascending=False).head()

kilometer  unrepaired_damage  price_bins
150000     yes                (100000, 110000]     1
                              (90000, 100000]      2
                              (50000, 60000]       3
                              (30000, 40000]       8
                              (20000, 30000]      32
Name: price_bins, dtype: int64

In [475]:
autos_grouped_d.index[0]

(5000, 'no', Interval(0, 10000, closed='right'))

In [476]:
autos_grouped_d.filter(like='Interval(0, 10000, closed=\'right\')').sort_values(ascending=False).head()

kilometer  unrepaired_damage  price_bins
150000     no                 (0, 10000]    141542
           yes                (0, 10000]     26247
125000     no                 (0, 10000]     22673
100000     no                 (0, 10000]      8585
90000      no                 (0, 10000]      6658
Name: price_bins, dtype: int64

In [477]:
repair_150000 = autos_grouped_d.filter(like='150000').sort_index(ascending=False) > 100

In [478]:
repair_125000 = autos_grouped_d.filter(like='125000').sort_index(ascending=False) > 100

In [479]:
repair_100000 = autos_grouped_d.filter(like='100000').sort_index(ascending=False) > 100

In [480]:
repair_150000[repair_150000 == True]

kilometer  unrepaired_damage  price_bins
150000     yes                (10000, 20000]    True
                              (0, 10000]        True
           no                 (30000, 40000]    True
                              (20000, 30000]    True
                              (10000, 20000]    True
                              (0, 10000]        True
Name: price_bins, dtype: bool

In [481]:
repair_125000[repair_125000 == True]

kilometer  unrepaired_damage  price_bins
125000     yes                (0, 10000]        True
           no                 (30000, 40000]    True
                              (20000, 30000]    True
                              (10000, 20000]    True
                              (0, 10000]        True
Name: price_bins, dtype: bool

In [482]:
repair_100000[repair_100000 == True]

kilometer  unrepaired_damage  price_bins
100000     yes                (0, 10000]        True
           no                 (30000, 40000]    True
                              (20000, 30000]    True
                              (10000, 20000]    True
                              (0, 10000]        True
Name: price_bins, dtype: bool

#### Conclusions

I took the results if there is more that 100 offers. It is clear that there are price differences that depend on the need for repair. There is no offer or not too much offer(below 100) with cars that have status - unrepaired_damage.

In [628]:
autos.price[(autos.kilometer == kilometer_unique[item]) & (autos.unrepaired_damage == 'no')].head(2)

28     1990
269    1450
Name: price, dtype: int64

In [484]:
autos[autos.unrepaired_damage == 'yes'].head(2)

         date_crawled                                               name  price vehicle_type  registration_year   gearbox  power_ps model  kilometer  registration_month fuel_type brand unrepaired_damage ad_created  postal_code           last_seen autos_price_bins      price_bins
1 2016-03-24 10:58:45                               A5_Sportback_2.7_Tdi  18300        coupe               2011  manually       190   NaN     125000                   5    diesel  audi               yes 2016-03-24        66954 2016-04-07 01:46:50   (10000, 20000]  (10000, 20000]
5 2016-04-04 17:36:23  BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...    650    limousine               1995  manually       102   3er     150000                  10    petrol   bmw               yes 2016-04-04        33775 2016-04-06 19:17:07       (0, 10000]      (0, 10000]

I want to create now new DataFrame that will allowa comparision between the prices of the cars that need to be repaired and those that do not. For this purpose, I will also create two Series and insert them into DataFrame after counting the mean value.

In [606]:
kilometer_unique = autos.kilometer.sort_values(ascending=False).unique()

In [619]:
autos_repair = pd.DataFrame(kilometer_unique, columns=['kilometer'])

In [620]:
repaired_mean_s = pd.Series([])
unrepaired_mean_s = pd.Series([])

In [621]:
for item in range(len(kilometer_unique)):
    repaired_mean = autos.price[(autos.kilometer == kilometer_unique[item]) & (autos.unrepaired_damage == 'no')].mean()
    repaired_mean_s[item] = repaired_mean
    unrepaired_mean = autos.price[(autos.kilometer == kilometer_unique[item]) & (autos.unrepaired_damage == 'yes')].mean()
    unrepaired_mean_s[item] = unrepaired_mean

In [622]:
autos_repair.insert(1, 'repaired_mean', repaired_mean_s)
autos_repair.insert(2, 'unrepaired_mean', unrepaired_mean_s)

In [630]:
autos_repair.head(2)

   kilometer  repaired_mean  unrepaired_mean   difference   fraction
0     150000    4397.373921      1682.102660  2715.271261  38.252436
1     125000    6967.852848      2577.926938  4389.925911  36.997437

In [624]:
autos_repair['difference'] = autos_repair.repaired_mean - autos_repair.unrepaired_mean

In [625]:
autos_repair.head(2)

   kilometer  repaired_mean  unrepaired_mean   difference
0     150000    4397.373921      1682.102660  2715.271261
1     125000    6967.852848      2577.926938  4389.925911

In [626]:
autos_repair['fraction'] = (autos_repair.unrepaired_mean *100)/autos_repair.repaired_mean

In [627]:
autos_repair

    kilometer  repaired_mean  unrepaired_mean    difference   fraction
0      150000    4397.373921      1682.102660   2715.271261  38.252436
1      125000    6967.852848      2577.926938   4389.925911  36.997437
2      100000    8792.026418      2932.562216   5859.464202  33.354793
3       90000    9369.318507      3638.129534   5731.188973  38.830247
4       80000   10316.360679      3785.181208   6531.179471  36.691051
5       70000   11637.100024      4508.327314   7128.772710  38.740986
6       60000   12772.831375      5542.544199   7230.287176  43.393231
7       50000   14134.171065      6402.016287   7732.154778  45.294600
8       40000   15657.258581      9718.211538   5939.047042  62.068411
9       30000   17078.501343      6476.633466  10601.867876  37.922727
10      20000   19439.505928      4523.467391  14916.038537  23.269457
11      10000   23644.833653      8540.644737  15104.188916  36.120553
12       5000   15642.729326      1928.231563  13714.497762  12.326695

The dataframe 'autos_repair' show the difference and the proportion between cars that need a repairand that doesn't. The difference is often about 40 percent. The smallest difference is 12% for the smallest mileage - 5000. The highest difference is for 40000 - more that 60%, which is in value at almost 6000.